body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: rgba(0,0,0, 0.5);
  color: #212529;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}
h1 {
  font-weight: normal;
  font-size: 1.25rem;
  margin-bottom: 0;
  line-height: 1.5;
}

.wrapper {
  background-color: rgba(248,248,248, 0.7);
  border-radius: 5px;
  padding: 10px;
  margin-top: 7px;
  position: relative;
}

.spacer {
  margin-top: 50px;
}

.image-product {
  height: 200px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.price {
  margin-top: -25px;
  display: flex;
  color: #010101;
  font-size: 1.5rem;
}
.price span {
  border-bottom: solid 1px #89a6aa;
  margin-bottom: 5.5px;
  margin-right: 7px;
  flex: 1;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters> .col,.no-gutters> [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }

.kawa-icon {
  line-height: 48px;
  text-align: center;
}

.btnText {
  background-color: #ea9308;
  border-radius: 3px;
  font-size: 12px;
  color: #f8f8f8;
  padding: 11px 8px;
  text-transform: uppercase;
  float: right;
  margin-top: 6px;
  font-weight: 300;
}

.accordion-header {
  color: #302c23;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #89a6aa;
  padding-bottom: 7px;
  margin-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
  
}
.accordion-header.open {
    border-bottom: none;
  }
.accordion-header  svg {
  align-self: center;
}

.caption {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.95rem;
}

.support {
  display: flex;
  flex-direction: column;
}
.support-btn {
  background-color: #89a6aa;
  align-self: center;
  justify-content: center;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #f8f8f8;
  border-radius: 3px;
  display: flex;
  flex-grow: 1;
}
.support-btn svg {
  margin-right: 5px;
}


.share-icon {
  position: absolute;
  right: 7px;
  top: 7px;
}

.market {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.7);
  display: flex;
  padding-top: 30vh;
  flex-direction: column;
  align-items: center;
}
.market h3 {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
  color: white;
  font-weight: 300;
  
}
.market h3::before {
  position: absolute;
  width: 150px;
  content: '';
  bottom: 0;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
}
.market a {
  margin-bottom: 30px;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.dots .dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #89a6aa;
    margin-right: 10px;
}
.dots .dot:not(:first-child) {
  background-color: grey;
}

@media (min-width: 768px) {
  .bg {
      background-attachment: scroll;
  }
}



@import '../images/iconfont/iconfont.css';

* {
  margin: 0;
  padding: 0;
}

.star-main {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}
.char {
  color: var(--inactive-color);
  font-size: var(--font-size);
  transition: all 0.3s ease-in-out;
}
.star-disable {
  .star-full {
    cursor: not-allowed;
    &:hover {
      transform: scale(1);
    }
  }
}
.star-disable-default {
  .star-full {
    cursor: default;
    &:hover {
      transform: scale(1);
    }
  }
}
.star-full {
  position: relative;
  display: inline-block;
  transition: all 0.2s ease;
  margin-right: 3px;
  cursor: pointer;
  line-height: 22px;
}
.star-able {
  .star-full {
    &:hover {
      transform: scale(1.1);
      .icon-full,
      .icon-half {
        color: var(--hover-color);
      }
    }
  }
}
.star-half {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.icon-rate-2 {
  color: transparent;
}
.icon-full,
.icon-half {
  color: var(--active-color);
}
.star-char {
  padding: 5px;
}
